* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(136deg, #c7bc9f99 30%, #dccef7a6 80%);
  min-height: 100vh;
  width: 100%;
}

header {
  margin-top: 50px;
  font-size: 50px;
  text-shadow: #f09c78 2px 2px 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(335deg, #ef9f59b8, #f3df02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: filter 0.3s ease;
}

li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  list-style: none;
  transition: transform 0.4s;
  backface-visibility: hidden;
  cursor: pointer;
}

li:hover {
  content: "";
  transform: translateY(-5px);
}

.navigation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  list-style: none;
  font-size: 30px;
  margin: 50px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.layout1 {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto 200px 200px;
  gap: 40px;
  align-content: center;
  justify-content: center;
  width: 1512px;
  height: 982px;
  background-color: white;
  margin-bottom: 50px;
}

.layout1 .photo-1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.layout1 .photo-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.layout1 .photo-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.layout1 .photo-4 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.layout1 .photo-5 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.layout1 .photo-6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.layout1 .photo-7 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.layout1 .photo-8 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.layout2 {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto 200px 200px;
  gap: 40px;
  align-content: center;
  justify-content: center;
  width: 1512px;
  height: 982px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.layout2 .photo-1 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.layout2 .photo-2 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.layout2 .photo-3 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.layout2 .photo-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.layout2 .photo-5 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.layout2 h1,
.layout3 h1,
.layout4 h1,
.layout1 h1 {
  letter-spacing: 10px;
  grid-column: 1 / 5;
  grid-row: 1;
  background: linear-gradient(0deg, #ef9f59c5, #f3df02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}

.layout3 {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: auto 200px 200px 200px;
  gap: 30px;
  align-content: center;
  justify-content: center;
  width: 1512px;
  height: 982px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.layout3 .photo-1 {
  grid-column: 2/3;
  grid-row: 3/5;
}
.layout3 .photo-2 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.layout3 .photo-3 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.layout3 .photo-4 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.layout3 .photo-5 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.layout3 .photo-6 {
  grid-column: 3/5;
  grid-row: 3/4;
}

.layout3 .photo-7 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.layout3 .photo-8 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.layout3 .photo-9 {
  grid-column: 4/5;
  grid-row: 4/5;
}

.layout4 {
  width: 1512px;
  height: 982px;
  background-color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  gap: 25px;
  justify-content: center;
  align-content: center;
}

.layout4-content {
  display: grid;

  position: absolute;
  overflow: visible;
  align-items: center;
  grid-template-columns: 300px 300px 300px 300px 300px;
  grid-template-rows: repeat(4, 200px);
  display: grid;
  gap: 25px;
  top: 50px;
  right: 50px;
}

.layout4-content::before {
  content: "";
  grid-column: 4;
  grid-row: 1/-1;
  border-left: 2px solid rgb(67, 61, 61);
  height: 100%;
  align-self: center;
  transform: translateX(-15px);
}

.layout4-content .photo-1 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.layout4-content .photo-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.layout4-content .photo-3 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.layout4-content .photo-4 {
  grid-column: 5/6;
  grid-row: 2/3;
}

.layout4-content .photo-5 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.layout4-content .photo-6 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.layout4-content .photo-7 {
  grid-column: 5/6;
  grid-row: 4/5;
}

.layout4-content .photo-8 {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 300px;
  height: 200px;
  right: 5px;
  position: absolute;
}

.layout4-content h1 {
  transform: translateX(-40px);
  grid-column: 1/4;
  letter-spacing: 10px;
  transform: translateX(100px);
}

.layout4-content h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
  background: linear-gradient(0deg, #ef9f59c5, #f3df02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 50px;
  margin-left: 60px;
  filter: drop-shadow(2px 2px 5px #f09c78);
  position: absolute;
  transform: translateX(-224px);
}

h1 {
  background: linear-gradient(140deg, #ef9f59c5, #f3df02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-size: 50px;
  margin-left: 60px;
  filter: drop-shadow(2px 2px 5px #f09c78);
}

.layout1 h1 {
  grid-column: 1 / 5;
  grid-row: 1;
  margin-bottom: 20px;
}

.photo {
  width: 300px;
  height: 200px;
}

.layout3,
.photo-1 img {
  object-fit: cover;
  object-position: center 10%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: #93601fbd 0 9px 30px 2px;
  transition: transform 0.3s ease;
  box-shadow: 0.3s ease;
}

img:hover {
  content: "";
  box-shadow: #f3df02;
  transform: scale(1.1);
  filter: brightness(1.1);
  z-index: 10;
  position: relative;
}
.layout1 div:hover,
.layout2 div:hover,
.layout3 div:hover,
.layout4-content div:hover {
  box-shadow: 0 10px 20px rgba(243, 227, 4, 0.876);
  z-index: 100 !important;
  position: relative;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
