* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #19a1ae;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-family: sans-serif;
}

.gradient1 {
  background: linear-gradient(
    -135deg,
    #0989b4,
    #53ffee5c,
    #19a1ae,
    rgba(35, 57, 107, 0) 80%
  );
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-100%, -90%);
  z-index: -1;
}

.gradient2 {
  background: linear-gradient(
    133deg,
    #0989b400,
    #53ffee2e,
    #19a1ae,
    rgba(35, 57, 107, 0) 80%
  );
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(0%, 10%);
  z-index: -1;
}

.profile-card {
  height: 450px;
  width: 450px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.profile-header img {
  width: 100%;
  height: 190px;
  display: block;
  object-fit: cover;
}

.oval {
  margin-top: -50px;
  z-index: 11;
}

.oval img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.user-info {
  padding: 25px 0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

.user-info h2 {
  font-size: 18px;
  color: #2e3349;
  margin-bottom: 8px;
}

.user-info h2 span {
  font-weight: 400;
  color: #6b7082;
  margin-left: 8px;
}

.user-info p {
  font-size: 14px;
  color: #6b7082;
}

.stats-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 13px 0;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item .number {
  font-weight: bold;
  font-size: 18px;
  color: #2e3349;
}

.stats-item .label {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #6b7082;
  margin-top: 5px;
}
