@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#ffffff, #b6b8c7);
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

header,
.footer-section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header h2 {
  color: #6750a4;
  position: absolute;
  left: 12%;
  font-size: 35px;
  font-weight: 800;
}

.btn-violet {
  font-size: 18px;
  right: 15%;
  top: -10px;
  width: 167px;
  height: 56px;
  background: #6750a4;
  color: #fff;
  margin-top: 30px;
  border-radius: 28px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  position: absolute;
}

.btn-violet:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  background-image: linear-gradient(#ff6f48, #daacc9);
  text-decoration: none;
  transform: translateY(-5px);
}

.get-started1 {
  font-size: 18px;
  width: 167px;
  height: 56px;
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
  color: #fff;
  margin-top: 30px;
  border-radius: 28px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  top: 20px;
}

.get-started1:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  background-image: linear-gradient(#8288ff, #eb7dc3);
  text-decoration: none;
  transform: translateY(-5px);
}

.hero-section {
  width: 1440px;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero-content {
  max-width: 500px;
  position: relative;
  left: 12%;
  top: 20px;
}

.heading {
  width: 100%;
  height: 100%;
}

h1 {
  letter-spacing: 0px;
  font-size: 56px;
  line-height: 120%;
  color: #13183f;
  font-weight: 800;
}

p {
  text-shadow: 1px 1px 10px #0000007d;
  color: #83869a;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 25px;
}

.main-image {
  position: absolute;
  right: 15%;
  top: 65%;
  transform: translateY(-50%);
  width: 349px;
  z-index: -1;
}

.main-image img {
  position: relative;
  border-radius: 158.5px;
  z-index: 2;
  object-fit: cover;
  bottom: -5px;
  position: relative;
  z-index: 1;
}

.gradient-background1,
.gradient-background2 {
  position: absolute;
  border-radius: 158.5px;
}

.gradient-background1 {
  background: linear-gradient(#ff6f48, #f02aa6);
  position: absolute;
  width: 317px;
  height: 560px;
  transform: translateY(-100%);
  z-index: -1;
}

.gradient-background2 {
  background: linear-gradient(#4851ff, #f02aa6);
  width: 317px;
  height: 1008px;
  position: absolute;
  left: 70%;
  top: -86.2%;
  transform: rotate(45deg);
  z-index: -2;
}

.course-hours span,
.members span {
  display: flex;
  font-size: 32px;
  font-weight: 800;
  color: #13183f;
}

.members {
  font-weight: 800;
  color: #f02aa6;
  padding: 25px;
  right: 9%;
  bottom: 50px;
  background-color: #fff;
  width: 155px;
  height: 120px;
  border-radius: 12px;
  box-shadow: #dcdeff87 0 5px 20px 8px;
  position: relative;
}

.course-hours {
  font-weight: 800;
  color: #f02aa6;
  padding: 25px;
  position: absolute;
  align-items: center;
  background: rgb(255, 255, 255);
  left: 52%;
  top: 71%;
  width: 199px;
  height: 120px;
  z-index: 1;
  border-radius: 12px;
  box-shadow: #dcdeff87 0 5px 20px 8px;
}

.card-container {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 30px;
  margin: 150px 0 100px 0;
}

.card {
  width: 350px;
  height: 322px;
  background: #fff;
  border-radius: 15px;
  padding: 56px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.0442);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: #a4edff 0px 5px 20px 0px;
  color: rgb(255, 223, 179);
}

.card.gradient {
  background: linear-gradient(180deg, #ff6f48, #f02aa6);
  justify-content: center;
  padding-top: 32px;
}

.card h3 {
  font-size: 24px;
  color: #13183f;
  font-weight: 800;
  text-transform: capitalize;
}

.get-started3 {
  font-size: 18px;
  background: none;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s;
  filter: 0.3s;
  border: none;
  color: #f02aa6;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-top: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.get-started3:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  background-image: linear-gradient(#ffa3a3, #8e975c);
  transform: translateY(-5px);
}

.card span[class*="-logo"] {
  position: absolute;
  top: -28px;
  left: 32px;
}

footer {
  max-width: 1440px;
  height: 107px;
  background-color: #13183f;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.get-started2 {
  font-size: 18px;
  width: 167px;
  height: 56px;
  background: linear-gradient(#ff6f48, #f02aa6);
  color: #fff;
  border: none;
  border-radius: 28px;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
  position: absolute;
  left: 77%;
}

.get-started2:hover {
  filter: brightness(1.2);
  text-decoration: underline;
  background-image: linear-gradient(#8288ff, #eb7dc3);
  text-decoration: none;
  transform: translateY(-5px);
}

.footer-section {
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer-section h2 {
  color: white;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
  right: 81%;
}
