@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Allerta Stencil", sans-serif;
  background-color: #f5f5f7;
  height: 100vh;
}

header {
  background-color: #f5f5f7;
  background-size: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.logo {
  color: #5b47d1;
  background-color: #f0edff;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 30px;
}

nav {
  display: inline-block;
}

ul {
  padding: 0;
}

ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header-2 {
  width: 100%;
  height: 400px;
  background-image: url("./images/Rectangle 7.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #ffffff;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 20px 0;
}

.container h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.header-2 h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.header-2 p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
}

/*card parameters*/
.card {
  vertical-align: top;
  width: 360px;
  height: 500px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 5px rgba(58, 77, 163, 0.514);
  margin: 20px;
  overflow: hidden;
}
.card > h3 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding: 20px;
}

.card > small {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  margin: 0 20px;
  display: block;
  margin-top: 10px;
}

.card > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.25;
  margin: 10px 20px 20px 20px;
}
.card-image {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
/*Card colors*/

.purple {
  background: #d6ccff;
}
.pink {
  background: #ffc0db;
}
.blue {
  background: #c9e6ff;
}
.green {
  background: #d9ffbf;
}
.yellow {
  background: #ffe6b8;
}
.orange {
  background: #ffd6b8;
}

/*footer parameters*/

footer {
  background-color: #252424;
  padding: 60px 0 20px 0;
  margin-top: 40px;
}

.footer-container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: #a1a1a6;
  padding: 0px 20px;
}

.footer-col {
  flex: 1;
  padding: 0 15px;
  text-align: left;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer-col p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 0px 15px 0px;
  max-width: 250px;
  text-align: left;
  color: #a1a1a6;
}
.footer-col ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  margin: 0px 0px 10px 0px;
  display: block;
}

.footer-col ul li a {
  text-decoration: none;
  color: #a1a1a6;
  font-size: 14px;
  font-weight: 400;
}

.copyright {
  text-align: center;
  color: #86868b;
  font-weight: 600;
  font-size: 13px;
  padding: 30px 30px;
  background-color: #020202;
}
